html
    head
        title= "Register Page"
    body
        h1= "Register Page"

    form(action="register_process" method="POST")
        p
        input(type="text" name="name1" placeholder="name")
        p
        input(type="text" name="password" placeholder="password")
        p
        input(type="text" name="email" placeholder="email")
        p
        input(type="number" name="role" placeholder="1 or 2")
        input(type="submit")