html
    head
        title= "Find Page"
    body
        h1= "Find Page"

    form(action="find_process" method="POST")
        p
        input(type="text" name="name" placeholder="name")
        input(type="submit")